#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #8ee286;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2 .mbr-article {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-7 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-7 .mbr-article {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-9 .mbr-article {
  color: #ffffff;
}
#msg-box1-h .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
  font-size: 20px;
}
#msg-box1-h .mbr-article {
  color: #fff;
}
#contacts3-d B {
  color: #41a85f;
  font-size: 20px;
}
#contacts3-d P {
  color: #41a85f;
}
